{% extends 'layouts/base-fullscreen.html' %} {% block title %} Login {% endblock title %} {% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent px-2">
          <div class="text-muted text-center mt-2 mb-0">LOGIN<br /></div>
        </div>
        <div class="card-body px-3">
          <div class="text-center mt-0">
            <a href="google/" class="btn btn-danger"> <i class="fab fa-google"></i> Login with Google </a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block javascripts %}{% endblock javascripts %}
