{% extends 'layouts/base.html' %} {% block title %} Profile {% endblock title %} {% block content %}

<div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{ current_user.username }}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
        <a href="#!" class="btn btn-neutral">Edit profile</a>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Edit profile</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top" />
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                  <div class="card-profile-image">
                    <a href="#">
                      <img src="/static/assets/img/theme/team-4.jpg" class="rounded-circle" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7">
              <form method="POST" action="{{ url_for('home_blueprint.update_profile') }}">
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="container">
                    <div class="col-lg-8">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Username</label>
                        <input type="text" id="input-username" name="username" class="form-control" placeholder="Username" value="{{ current_user.username }}" />
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input readonly type="email" id="input-email" name="email" class="form-control" value="{{ current_user.email }}" />
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <label class="form-control-label" for="input-kaggle-username">Kaggle Username</label>
                        <input type="text" id="input-kaggle-username" name="kaggle_username" class="form-control" value="{{ current_user.user_name_in_kaggle or '' }}" />
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-8">
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Save</button>
                      <a href="{{ url_for('home_blueprint.profile') }}" class="btn btn-secondary">Cancel</a>
                    </div>
                  </div>

                  <hr class="my-4" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}
</div>

<script></script>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
